html {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: royalblue;
}

body {
    width: 25em;
    margin: 0 auto;
    background-color: skyblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;    
    color: yellowgreen;
    text-shadow: 3px 3px 1px black;
}

p, li {
    line-height: 2;
    letter-spacing: 1px;
    /* overflow: hidden; */
}

.imgBlock {
    width: 20em;
    height: 20em;;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

a:hover {
    color: yellow;
}

h2 {
    margin: 0 auto;
    padding: 0 0 0.5em 0.2em;
}

/* .ico-image {
    width: 10%;
} */

.link-text {
    width: 100px;
    float: left;
}

.link-image {
    width: 10%;
    float: left;
}
