* {
    margin: 0;
    padding: 0;
}

body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {padding:50px 0; background:url("../images/0625.1/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial", serif; text-align:center;}

h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
h1 {font-size:200%;}
h2 {font-size:160%;}
h3 {font-size:140%;}
h1, h2, h3 {font-weight:normal;}
h4, h5 {font-size:100%;}

p, table, ul, ol, dl, fieldset {margin:15px 0;}

table {border-collapse:collapse; border-spacing:0; font-size:100%;}
th {text-align:center; font-weight:bold;}
th, td {padding:3px 7px;}

ul, ol {margin-left:30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
ol {list-style-type:decimal;}
li {display:list-item;}

dt {font-weight:bold;}
dd {margin-left:30px;}

fieldset {position:relative; padding:10px;}
legend {position:absolute; top:-1em; margin:0; padding:5px 10px; font-size:100%; font-weight:bold;}

.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}

.relative {position:relative;}

.clear {clear:both;}

.f-left {float:left !important;} img.f-left {float:left; margin-right:15px; border:solid 1px #fff;}
.f-right {float:right !important;} img.f-right {float:right; margin-left:15px;}

.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}

.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}

.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

.noscreen {display:none;}

.bigger {font-size:110%;}
.smaller {font-size:85%;}

/* Edit */

#main {width:960px; margin:0 auto; text-align:left;}

.noscreen {
    display: none;
}


#header {
    position: relative;
    height: 200px;
    background: url(../images/0625.1/header.jpg);
    overflow:hidden;
}

#header h1 {
    margin: 0;
    text-align: right;
}

#logo {position:absolute; top:0; right:20px; margin:0; font-size:180%; letter-spacing:-1px;}        

#logo a {
    display: block;
    text-decoration: none;
    padding: 5px 10px 0 10px;
}

#nav {padding:0 20px; background:url("../images/0625.1/nav-bottom.gif") 0 100% no-repeat; overflow:hidden;}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline;
    padding: 0;
}

#nav ul li a {
    display: block;
    float: left;
    padding: 10px 14px 10px 15px;
}

#nav ul li a:hover {
    text-decoration: none;
}

#nav-active a {
    font-weight: bold;
    text-decoration: none;
}

#cols-top {
    clear:both;
    width:960px;
    height: 15px;
    margin-top:10px;
    background: url(../images/0625.1/cols-top.gif) 0 100% no-repeat;
}

#cols-bottom {clear:both; width:960px; height:15px; margin-bottom:10px; background:url(../images/0625.1/cols-bottom.gif) 0 0 no-repeat; font-size:0; line-height:0;}
#cols {clear:both; width:960px; background:url(../images/0625.1/cols.gif) 0 0 repeat-y;}

#content {float:left; width:650px; overflow:hidden;}

#topstory {padding:15px 0 15px 15px;}
#topstory h2 {font-size:140%;}
#topstory h2, #topstory p.info  {margin:0;}
#topstory p.info {font-size:85%;}

#topstory #topstory-img {
    float: left;
    width: 250px;
    height: 180px;
    background: url(../images/0625.1/image-02.gif);
    text-align: center;
    vertical-align: middle;
    line-height: 180px;
    padding-top: 4px;
}

#topstory #topstory-img img {
    width: 238px;
    height: 170px;
    vertical-align: middle;
    border: solid #fff 1px;
}

#topstory #topstory-desc {
    float: right;
    width: 370px;
}

#topstory #topstory-title {padding:10px;}
#topstory #topstory-desc-in {padding-right:15px;}
#topstory #topstory-desc-in p {margin-bottom:0;}


.content-padding {
    padding: 15px;
    clear: both;
}

.content-padding h3 {
    font-weight: bold;
    font-size: 85%;
}

#photos { margin:0;padding:0;margin-bottom:15px; clear:both; padding-left:2px;  }

#photos li {
    display: inline;
    background: url(../images/0625.1/image-03.gif) no-repeat center;
    padding: 3px;
    zoom: 1;
    margin-right: 4px;
}

html>/**/body #photos li {
    display: inline-block;
    padding-top:4px;
}

#photos li img {
    width:110px; height:84px; vertical-align:middle;
    border:none;
}

#aside {float:right; width:300px; overflow:hidden;}
#aside .aside-padding {padding:0 15px;}

#aside .title {margin:0; padding:10px 15px; font-size:100%; font-weight:bold;}

#footer-top {
    height: 15px;
    background: url(../images/0625.1/footer-top.gif) 0 100% no-repeat;
}

#footer {clear:both; padding:0 15px; font-size:85%;}
#footer p {margin:0;}


#footer-bottom {
    height: 15px;
    background: url(../images/0625.1/footer-bottom.gif) 0 0 no-repeat;
}





.hx-style01 {font-size:85%; font-weight:bold; text-transform:uppercase;}

.separator {width:620px; height:50px; background:url(../images/0625.1/separator.gif) 0 0 no-repeat; font-size:0;}