#logo h1 a:hover {
    text-decoration: none;
}

#logo h2 a:visited {
    text-decoration: none;
}

.navigation a:nth-child(1) {
    text-decoration: none;
}

.navigation a:nth-last-child(2) {
    text-decoration: none;
}

